body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
}

.container {
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
}

#redButton {
    background-color: red;
    color: white;
}

#greenButton {
    background-color: green;
    color: white;
}

#blueButton {
    background-color: blue;
    color: white;
}

#yellowButton {
    background-color: yellow;
    color: black;
}
